:root {
    font-size: 1em;
}

header {
    /* margin-right: 25%;
    margin-left: 23% */
    margin: auto 20vw;
}

header h1,
nav h1 {
    /* font-size: 8rem; */
    /*font-size: 800%;*/
    font-size: calc(var(--width)/9);
}

header h2,
nav h2 {
    font-size: calc(var(--width)/14);
}

header h3,
nav h3 {
    font-size: calc(var(--width)/22);
}

header h4,
nav h4 {
    font-size: calc(var(--width)/45);
}

header h5,
nav h5 {
    font-size: calc(var(--width)/55);
}

nav p {
    font-size: calc(var(--width)/60);
    margin-bottom: 1em;
}

nav label {
    font-size: calc(var(--width)/70);
}

nav input {
    width: calc(var(--width)/100);
    height: calc(var(--width)/100);
}

#filtreCompetences,
#filtreLogiciels {
    line-height: calc(var(--width)/0.5vh);
}

.allignementDroite {
    padding-left: 50%;
}

.allignementCentre {
    text-align: center;
}

#headerTitre {
    margin-top: 30vh;
    margin-bottom: 30vh;
}

#headerTexte {
    margin-top: 30vh;
    margin-bottom: 30vh;
}

nav {
    color: #495057;
}

nav a {
    font-size:calc(var(--width) / 52);
}

#txtNav {
    padding: 30vh 20vw;
}

#nav-criteres {
    padding: 10vh 20vw;
}

.nav-item {
    min-width: 25%;
    /*float: left;*/
    border-style: solid;
    border-width: 1px;
    border-color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    background-color: white;
}

.navbar-nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.accordion-button,
.accordion-button:focus,
.accordion-button:not(.collapsed) {
    color: #495057;
    border: none;
    box-shadow: none;
    padding: 0;
    transition: none;
    background-color: white !important;
}

input:checked {
    background-color: #495057;
}

.active {
    border-style: solid;
    border-width: 3px;
    border-color: rgba(0, 0, 0, .55);
    font-weight: bold;
}

.goupeCheckbox {
    display: inline-block;
    vertical-align: top;
    margin-top: 2%;
    width: 49%;
}

/* .card {
    margin: 5% 5% 5% 5%;
    
} */





/* main img {
    width: 630px;
    height: 840px;
} */


.bullet-point {
    /*width: 28%;*/
    display: inline-block;
    text-align: left;
    /*margin: auto;*/
    vertical-align: top;
}

/* Règles pour les cartes de contenu */

.contenu {
    /* padding-bottom: 5%; */
    padding: 5%;
    border: inherit;
}

.pale {
    background-color: white;
    color: #495057;
}

.fonce {
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.contenu h3 {
    font-size: 3em;
}

.card-header {
    background-color: inherit;
    border-bottom: inherit;
    display: inline-block;
}

.card-text {
    text-align: left;
    padding: 2% 0;
}

.date {
    font-weight: normal;
    text-align: center;
}

.card-contexte {
    text-align: right;
}

/* Contenu simple */

.simple .card-header {
    text-align: right;
    vertical-align: top;
}

.simple .card-title {
    margin: 15% 0%;
}

.simple .card-body {
    display: inline-block;
    /* width: 49%; */
    padding-left: 10%;
}

.simple .card-resume {
    padding-left: 14%;
    padding-bottom: 1%;
}

.simple .card-complement {
    padding-top: 1%;
}

.simple .card-intertitre {
    text-align: left;
    margin-bottom: -1%;
    margin-top: 4%;
}

@media screen and (min-width:800px) {
    .simple .card-header {
        width: 49%;
        display: inline-block;
    }
    .simple .card-body {
        width: 49%;
    }
}

/* Contenu double */

.double .card-header {
    display: block;
}

.double .card-title {
    margin-bottom: 3%;
}

.double .card-body {
    width: 100%;
    padding: 0 10%;
}

.double .card-body p {
    text-align: left;
}

.double .card-complement {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.double .card-intertitre {
    text-align: left;
    width: 80%;
    margin: 3% auto 0 0;
}

.double .card-text {
    width: 80%;
    margin: 3% auto;
}

.double .card-complement a {
    margin-bottom: 3%;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #adb5bd !important;
    border-color: #6c757d !important;
    font-size: larger;
}

.card-complement-double textarea {
    width: 90%;
    height: 700px;
    font-size: 10px;
}

/* Contenu multi */

.multi .card-title {
    margin: 6% 0%;
    display: inline-block;
    width: 49%;
    text-align: right;
}

.multi .card-body {
    display: inline-block;
    width: 80%;
}

.multi .card-resume {
    padding-left: 14%;
    padding-bottom: 1%;
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    text-align: left;
}

.multi .card-complement {
    padding-top: 1%;
}

.multi .card-intertitre {
    text-align: left;
    margin-bottom: -2%;
}

/* Règles carousel */

.carousel-indicators {
    bottom: -25px;
}

.carousel-indicators [data-bs-target] {
    background-color: #6c757d;
}

.carousel-control-next,
.carousel-control-prev {
    width: 120px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='grey'><path%20d='M11.354%201.646a.5.5%200%200%201%200%20.708L5.707%208l5.647%205.646a.5.5%200%200%201-.708.708l-6-6a.5.5%200%200%201%200-.708l6-6a.5.5%200%200%201%20.708%200z'/></svg>");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='grey'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}

main .active {
    border-style: none;
}

.titre-video {
    margin-bottom: -0.3%;
}



.cache {
    display: none;
}

p a,
p a:hover,
p a:active,
p a:visited {
    color: #6c757d;
    font-weight: bold;
}

p a:hover {
    font-weight: bolder;
}

.footer {
    color: white !important;
    background-color: #6c757d;
    text-align: center;
    padding: 3% 0%;
}

.disclamer-simple,
.disclamer-double,
.disclamer-multi {
    /*width: 80%;*/
    color: grey;
    text-align: center;
    margin: 2% auto;
}

.disclamer-double {
    width: 80%;
}

.disclamer-text {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-weight: bold;
    text-align: left;
    width: 83%;
}

.disclamer-image {
    display: inline-block;
    margin: 0 50px 0 0;
    width: 1%;
    text-align: right;
    vertical-align: middle;
}

.btn-url {
    margin: 15%;
}

/*.fa {
    font-size: 235%;
}*/